.row{
    align-items: center;
    text-align: center;
    
   
    
}
.dist{
  margin-left: 380px;
  
}
.form-select{
    
    padding: 10px 5px;
    width: 100%;
    border-radius: 10px;
    font-size: large;
    
}

.search {
  margin-left: 10px;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: rgb(13, 160, 45);
  font-size: larger;
  color: white;
  
}

.button {
    background-color: #4caf50; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 50px;
    margin-top: 70px;
  }
   
  .button1 {
    background-color: #2b45db;
    color: black;
    border: 2px solid;
  }
   
  .button1:hover {
    background-color: #2a0dac;
    color: white;
  }
   
  .button2 {
    background-color: #2b45db;
    color: black;
    border: 2px solid;
  }
   
  .button2:hover {
    background-color: #2a0dac;
    color: white;
  }
   
  .button3 {
    background-color: #2b45db;
    color: black;
    border: 2px solid;
  }
   
  .button3:hover {
    background-color: #2a0dac;
    color: white;
  }
   
  .button4 {
    background-color: #2b45db;
    color: black;
    border: 2px solid;
  }
   
  .button4:hover {
    background-color: #2a0dac;
    color:white;
  }
   
  .button5 {
    background-color: #2b45db;
    color: black;
    border: 2px solid;
  }
   
  .button5:hover {
    background-color: #2a0dac;
    color: white;
  }
  .button6 {
    background-color: #2b45db;
    color: black;
    border: 2px solid;
  }
   
  .button6:hover {
    background-color: #2a0dac;
    color: white;
  }
  .button7 {
    background-color: #2b45db;
    color: black;
    border: 2px solid;
  }
   
  .button7:hover {
    background-color: #2a0dac;
    color: white;
  }
  p {
    margin-left: 10px;
    text-align: center;
  }
  .bg1{
    background-color: white;
  }


  h1
{
    text-align: center;
    color: blueviolet;
}


#users {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
  }
  
  #users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #users tr:nth-child(even){background-color: #f2f2f2;}
  
  #users tr:hover {background-color: #ddd;}
  
  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blueviolet;
    color: white;
  }
  table{
    align-items: center;
    margin-left: 55px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  