.row{
    align-items: center;
    text-align: center;
    
    
    
}
.form-select{
    background-color: rgb(240, 227, 227);
}


.button {
    background-color: #4caf50; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 50px;
    margin-top: 70px;
  }
   
  .button1 {
    background-color: #93a0e7;
    color: black;
    border: 2px solid;
  }
   
  .button1:hover {
    background-color: #2a0dac;
    color: white;
  }
   
  .button2 {
    background-color: #93a0e7;
    color: black;
    border: 2px solid;
  }
   
  .button2:hover {
    background-color: #2a0dac;
    color: white;
  }
   
  .button3 {
    background-color: #93a0e7;
    color: black;
    border: 2px solid;
  }
   
  .button3:hover {
    background-color: #2a0dac;
    color: white;
  }
   
  .button4 {
    background-color: #93a0e7;
    color: black;
    border: 2px solid;
  }
   
  .button4:hover {
    background-color: #2a0dac;
    color:white;
  }
   
  .button5 {
    background-color: #93a0e7;
    color: black;
    border: 2px solid;
  }
   
  .button5:hover {
    background-color: #2a0dac;
    color: white;
  }
  .button6 {
    background-color: #93a0e7;
    color: black;
    border: 2px solid;
  }
   
  .button6:hover {
    background-color: #2a0dac;
    color: white;
  }
  .button7 {
    background-color: #93a0e7;
    color: black;
    border: 2px solid;
  }
   
  .button7:hover {
    background-color: #2a0dac;
    color: white;
  }
  p {
    margin-left: 10px;
    text-align: center;
  }

  