<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CoWinNotify</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



</head>

<body>
    <div class="bg1">
        <br>
        <div class="row">
            <div class="col-md-2 dist">
                <div class="form-floating">


                    <select class="form-select" (change)="onselect($event)">
                        
                        <option>Select State</option>
                        
                        <option *ngFor="let states of group" value={{states.state_id}} >{{states.state_name}}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-floating">

                    <select class="form-select">
                        <option>Select District</option>
                        <option *ngFor="let districts of cluster" >{{districts.district_name}}</option>
                    </select>
                </div>
            </div>
            <div class="btn1 col-md-1">
                <button class="search">Search</button>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <button class="button button1">Age 18+</button>
        <button class="button button2">Age 45+</button>
        <button class="button button3">Covidsheild</button>
        <button class="button button4">Covaxin</button>
        <button class="button button5">Sputnik V </button>
        <button class="button button6">Free</button>
        <button class="button button7">Paid</button>

        <P>NOTE : The slots availability data displayed in the pincode or district search is provided by the state govt
            and private hospitals. The total availability <br>slots includes Dose-1 and Dose-2 slots. While we have
            real-time data, slot availability on CoWin changes rapidly. D1: Dose 1, <br>D2: Dose 2</P>


    </div>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>

</html>