<!-- search bar -->

<div>
<form class="example"  action="/action_page.php" >
    <input type="text" pattern="[0-9]{6}" maxlength="6" placeholder="Enter your PIN" name="search">
    
    <button   type="submit">Search</button>
    
  </form>

   <!-- button row -->
   
   <button class="button button1">Age 18+</button>
   <button class="button button2">Age 45+</button>
   <button class="button button3">Covidsheild</button>
   <button class="button button4">Covaxin</button>
   <button class="button button5">Sputnik V </button>
   <button class="button button6">Free</button>
   <button class="button button7">Paid</button>
   
   
   <p>NOTE : The slots availability data displayed in the pincode or district search is provided by the state govt and private hospitals. <br>
     The total availability slots includes Dose-1 and Dose-2 slots. While we have real-time data, slot availability on CoWin changes rapidly. <br>
     D1: Dose 1, D2: Dose 2</p>

     <!-- SLOT -->
     
    
</div>